# Bỏ qua thư mục build chứa file .jar nặng
backend/core-service/target/

# Bỏ qua 2 file video quá giới hạn 100MB của GitHub
data-game/backgroud/ech-qua-song/vecteezy_water-surface-texture-background-concept_4747808.mp4
frontend/public/custom-assets/ech-qua-song/water_bg.mp4

# (Tùy chọn) Nếu bạn muốn bỏ qua TẤT CẢ các file video mp4 trong dự án, chỉ cần dùng 1 dòng này:
# *.mp4