-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: lms
-- ------------------------------------------------------
-- Server version	9.1.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bai_hoc`
--

DROP TABLE IF EXISTS `bai_hoc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bai_hoc` (
  `bai_hoc_id` int unsigned NOT NULL AUTO_INCREMENT,
  `chu_de_id` int unsigned NOT NULL COMMENT 'FK ΓåÆ chu_de (cß║Ñp 2)',
  `book_index_id_ngoai` int unsigned DEFAULT NULL COMMENT 'bookIndexId tß╗½ API ΓÇö d├╣ng ─æß╗â import/sync',
  `ten_bai_hoc` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'name: "C├íc sß╗æ 0, 1, 2, 3, 4, 5"',
  `tieu_de` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'title: "B├ái 1"',
  `slug` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'slug: "cac-so-0-1-2-3-4-5"',
  `so_trang` int DEFAULT NULL,
  `so_thu_tu` int NOT NULL,
  `ngay_tao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`bai_hoc_id`),
  KEY `idx_bai_hoc_chu_de` (`chu_de_id`,`so_thu_tu`),
  CONSTRAINT `fk_bai_hoc_chu_de` FOREIGN KEY (`chu_de_id`) REFERENCES `chu_de` (`chu_de_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=754 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='B├ái hß╗ìc cß╗Ñ thß╗â (Cß║Ñp 3). Chß╗⌐a c├íc dß║íng b├ái tß║¡p/l├╜ thuyß║┐t ß╗ƒ cß║Ñp l├í';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bai_hoc`
--

LOCK TABLES `bai_hoc` WRITE;
/*!40000 ALTER TABLE `bai_hoc` DISABLE KEYS */;
/*!40000 ALTER TABLE `bai_hoc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bai_nop`
--

DROP TABLE IF EXISTS `bai_nop`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bai_nop` (
  `bai_nop_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `bai_tap_id` bigint unsigned NOT NULL,
  `hoc_sinh_id` bigint unsigned NOT NULL,
  `dang_bai_id` int unsigned DEFAULT NULL COMMENT 'Hß╗ìc sinh ─æang nß╗Öp cho Dß║íng b├ái n├áo (quan trß╗ìng khi giao theo cß╗Ñm b├ái hß╗ìc)',
  `noi_dung_text` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `file_dinh_kem` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `diem_tu_dong` decimal(5,2) DEFAULT NULL,
  `xp_nhan_duoc` smallint unsigned NOT NULL DEFAULT '0',
  `chi_tiet_bai_lam` json DEFAULT NULL COMMENT 'Mß║úng ─æ├íp ├ín HS ─æ├ú chß╗ìn ─æß╗â review sau n├áy',
  `so_lan_lam` tinyint unsigned NOT NULL DEFAULT '1',
  `trang_thai` enum('LUU_NHAP','CHUA_NOP','DA_NOP','NOP_TRE','YC_LAM_LAI','DA_CHAM') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'CHUA_NOP',
  `la_nop_tre` tinyint(1) NOT NULL DEFAULT '0',
  `thoi_diem_nop` datetime DEFAULT NULL,
  PRIMARY KEY (`bai_nop_id`),
  UNIQUE KEY `uk_baitap_hs_dangbai_lan` (`bai_tap_id`,`hoc_sinh_id`,`dang_bai_id`,`so_lan_lam`),
  KEY `idx_bai_nop_trang_thai` (`bai_tap_id`,`trang_thai`),
  KEY `idx_bai_nop_hoc_sinh` (`hoc_sinh_id`,`thoi_diem_nop`),
  KEY `FKjhowo3737lrtdevhgy7qut2ia` (`dang_bai_id`),
  CONSTRAINT `fk_bn_bai_tap` FOREIGN KEY (`bai_tap_id`) REFERENCES `bai_tap` (`bai_tap_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_bn_hoc_sinh` FOREIGN KEY (`hoc_sinh_id`) REFERENCES `ho_so_hoc_sinh` (`hoc_sinh_id`) ON DELETE RESTRICT,
  CONSTRAINT `FKjhowo3737lrtdevhgy7qut2ia` FOREIGN KEY (`dang_bai_id`) REFERENCES `dang_bai` (`dang_bai_id`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='B├ái nß╗Öp cß╗ºa HS ΓÇö nam_hoc: JOIN bai_tapΓåÆlop_hoc; hoc_ky: JOIN bai_tap.hoc_ky';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bai_nop`
--

LOCK TABLES `bai_nop` WRITE;
/*!40000 ALTER TABLE `bai_nop` DISABLE KEYS */;
/*!40000 ALTER TABLE `bai_nop` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bai_tap`
--

DROP TABLE IF EXISTS `bai_tap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bai_tap` (
  `bai_tap_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `giao_vien_id` bigint unsigned NOT NULL,
  `lop_hoc_id` bigint unsigned NOT NULL,
  `bai_hoc_id` int unsigned DEFAULT NULL COMMENT 'Kh├íc NULL nß║┐u GV giao cß║ú cß╗Ñm B├ái hß╗ìc (giao hß║┐t c├íc dang_bai b├¬n trong)',
  `dang_bai_id` int unsigned DEFAULT NULL COMMENT 'Kh├íc NULL nß║┐u GV giao tß╗½ng Dß║íng b├ái lß║╗',
  `hoc_ky_id` int unsigned NOT NULL COMMENT 'Hß╗ìc kß╗│ GV giao b├ái (snapshot tß║íi thß╗¥i ─æiß╗âm tß║ío)',
  `tieu_de` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `mo_ta` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `loai_bai_tap` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `thoi_diem_bat_dau` datetime DEFAULT NULL COMMENT 'NULL = ─æ─âng ngay. C├│ gi├í trß╗ï = l├¬n lß╗ïch tß╗▒ ─æß╗Öng',
  `deadline` datetime NOT NULL,
  `cho_nop_lai` tinyint(1) NOT NULL DEFAULT '0' COMMENT 'Cho ph├⌐p nß╗Öp lß║íi sau khi GV y├¬u cß║ºu l├ám lß║íi (YC_LAM_LAI)',
  `so_lan_nop_lai_toi_da` int NOT NULL,
  `trang_thai` enum('CHO_DANG','DANG_MO','DA_DONG') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'CHO_DANG',
  `ngay_tao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `hoc_lieu_id` bigint DEFAULT NULL,
  PRIMARY KEY (`bai_tap_id`),
  KEY `fk_bt_hk` (`hoc_ky_id`),
  KEY `fk_bt_giao_vien` (`giao_vien_id`),
  KEY `fk_bt_bai_hoc` (`bai_hoc_id`),
  KEY `fk_bt_dang_bai` (`dang_bai_id`),
  KEY `idx_bai_tap_lop` (`lop_hoc_id`,`hoc_ky_id`,`trang_thai`),
  KEY `fk_bai_tap_hoc_lieu` (`hoc_lieu_id`),
  CONSTRAINT `fk_bai_tap_hoc_lieu` FOREIGN KEY (`hoc_lieu_id`) REFERENCES `hoc_lieu` (`hoc_lieu_id`),
  CONSTRAINT `fk_bt_bai_hoc` FOREIGN KEY (`bai_hoc_id`) REFERENCES `bai_hoc` (`bai_hoc_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_bt_dang_bai` FOREIGN KEY (`dang_bai_id`) REFERENCES `dang_bai` (`dang_bai_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_bt_giao_vien` FOREIGN KEY (`giao_vien_id`) REFERENCES `ho_so_giao_vien` (`giao_vien_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_bt_hk` FOREIGN KEY (`hoc_ky_id`) REFERENCES `hoc_ky` (`hoc_ky_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_bt_lop` FOREIGN KEY (`lop_hoc_id`) REFERENCES `lop_hoc` (`lop_hoc_id`) ON DELETE RESTRICT,
  CONSTRAINT `chk_nop_lai` CHECK ((((`cho_nop_lai` = 0) and (`so_lan_nop_lai_toi_da` = 0)) or ((`cho_nop_lai` = 1) and (`so_lan_nop_lai_toi_da` between 1 and 10))))
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Lß╗çnh giao viß╗çc cß╗ºa GV ΓÇö hoc_ky l╞░u tß║íi thß╗¥i ─æiß╗âm tß║ío; nam_hoc lß║Ñy qua JOIN lop_hoc';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bai_tap`
--

LOCK TABLES `bai_tap` WRITE;
/*!40000 ALTER TABLE `bai_tap` DISABLE KEYS */;
/*!40000 ALTER TABLE `bai_tap` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bao_cao_ai_buoi_sang`
--

DROP TABLE IF EXISTS `bao_cao_ai_buoi_sang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bao_cao_ai_buoi_sang` (
  `bao_cao_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `giao_vien_id` bigint unsigned NOT NULL,
  `lop_hoc_id` bigint unsigned NOT NULL,
  `ngay_bao_cao` date NOT NULL,
  `noi_dung_tom_tat` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `du_lieu_phan_tich` json DEFAULT NULL,
  `thoi_diem_tao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`bao_cao_id`),
  UNIQUE KEY `uk_gv_lop_ngay` (`giao_vien_id`,`lop_hoc_id`,`ngay_bao_cao`),
  KEY `fk_bcai_lop` (`lop_hoc_id`),
  CONSTRAINT `fk_bcai_gv` FOREIGN KEY (`giao_vien_id`) REFERENCES `ho_so_giao_vien` (`giao_vien_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_bcai_lop` FOREIGN KEY (`lop_hoc_id`) REFERENCES `lop_hoc` (`lop_hoc_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Cache t├│m tß║»t AI buß╗òi s├íng ΓÇö UNIQUE(GV,lß╗¢p,ng├áy) tr├ính gß╗ìi API lß║╖p';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bao_cao_ai_buoi_sang`
--

LOCK TABLES `bao_cao_ai_buoi_sang` WRITE;
/*!40000 ALTER TABLE `bao_cao_ai_buoi_sang` DISABLE KEYS */;
/*!40000 ALTER TABLE `bao_cao_ai_buoi_sang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cau_hinh_he_thong`
--

DROP TABLE IF EXISTS `cau_hinh_he_thong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cau_hinh_he_thong` (
  `cau_hinh_id` tinyint unsigned NOT NULL DEFAULT '1',
  `ten_truong` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `logo_url` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dia_chi` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `hotline` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email_lien_he` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hoc_ky_hien_tai_id` int unsigned NOT NULL COMMENT 'Trß╗Å ─æß║┐n hoc_ky ─æang diß╗àn ra',
  `id` bigint NOT NULL,
  `nam_hoc_hien_tai` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `nam_hoc` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `hoc_ky` int NOT NULL,
  `danh_sach_khoi` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `danh_sach_mon` varchar(1000) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`cau_hinh_id`),
  KEY `fk_cau_hinh_hk` (`hoc_ky_hien_tai_id`),
  CONSTRAINT `fk_cau_hinh_hk` FOREIGN KEY (`hoc_ky_hien_tai_id`) REFERENCES `hoc_ky` (`hoc_ky_id`) ON DELETE RESTRICT,
  CONSTRAINT `chk_singleton` CHECK ((`cau_hinh_id` = 1))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Cß║Ñu h├¼nh to├án cß╗Ñc ΓÇö singleton (ID lu├┤n = 1)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cau_hinh_he_thong`
--

LOCK TABLES `cau_hinh_he_thong` WRITE;
/*!40000 ALTER TABLE `cau_hinh_he_thong` DISABLE KEYS */;
INSERT INTO `cau_hinh_he_thong` VALUES (1,'Tr╞░ß╗¥ng Tiß╗âu hß╗ìc Titkul',NULL,NULL,NULL,NULL,1,0,'','',0,NULL,NULL);
/*!40000 ALTER TABLE `cau_hinh_he_thong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chu_de`
--

DROP TABLE IF EXISTS `chu_de`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chu_de` (
  `chu_de_id` int unsigned NOT NULL AUTO_INCREMENT,
  `sach_id` int unsigned NOT NULL COMMENT 'FK ΓåÆ sach (cß║Ñp 1)',
  `book_index_id_ngoai` int unsigned DEFAULT NULL COMMENT 'bookIndexId tß╗½ API ΓÇö d├╣ng ─æß╗â import/sync',
  `ten_chu_de` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'name: "C├íc sß╗æ tß╗½ 0 ─æß║┐n 10"',
  `tieu_de` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'title: "Chß╗º ─æß╗ü 1"',
  `slug` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'slug: "cac-so-tu-0-den-10"',
  `so_trang` int DEFAULT NULL,
  `so_thu_tu` int NOT NULL,
  `ngay_tao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`chu_de_id`),
  KEY `idx_chu_de_sach` (`sach_id`,`so_thu_tu`),
  CONSTRAINT `fk_chu_de_sach` FOREIGN KEY (`sach_id`) REFERENCES `sach` (`sach_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=124 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Chß╗º ─æß╗ü / Ch╞░╞íng (Cß║Ñp 2) cß╗ºa s├ích';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chu_de`
--

LOCK TABLES `chu_de` WRITE;
/*!40000 ALTER TABLE `chu_de` DISABLE KEYS */;
/*!40000 ALTER TABLE `chu_de` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dang_bai`
--

DROP TABLE IF EXISTS `dang_bai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dang_bai` (
  `dang_bai_id` int unsigned NOT NULL AUTO_INCREMENT,
  `bai_hoc_id` int unsigned NOT NULL COMMENT 'FK ΓåÆ bai_hoc (cß║Ñp B├ái hß╗ìc ΓÇö cß║Ñp 3)',
  `book_index_id_ngoai` int unsigned DEFAULT NULL COMMENT 'bookIndexId tß╗½ API khi import',
  `ten_dang_bai` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'name: "Kh├ím ph├í", "Hoß║ít ─æß╗Öng", "Luyß╗çn tß║¡p"',
  `slug` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'slug: "kham-pha", "hoat-dong", "luyen-tap"',
  `so_trang` int DEFAULT NULL,
  `so_thu_tu` int NOT NULL,
  `mon_hoc_id` tinyint unsigned NOT NULL COMMENT 'FK ΓåÆ mon_hoc',
  `loai_noi_dung` enum('H5P','FILE','NATIVE','JSON_TEXT') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'JSON_TEXT' COMMENT 'C├ích React render. JSON_TEXT l├á mß║╖c ─æß╗ïnh cho s├ích gß╗æc',
  `nguon_goc` enum('HE_THONG','GIAO_VIEN_BO_SUNG') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'HE_THONG',
  `giao_vien_id` bigint unsigned DEFAULT NULL COMMENT 'NULL nß║┐u cß╗ºa HE_THONG',
  `h5p_noi_dung_id` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `xp_thuong` int NOT NULL,
  `ngay_tao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `dap_an_chuan` json DEFAULT NULL,
  `du_lieu_game` json DEFAULT NULL,
  PRIMARY KEY (`dang_bai_id`),
  KEY `fk_db_mon` (`mon_hoc_id`),
  KEY `idx_dang_bai_bai_hoc` (`bai_hoc_id`,`so_thu_tu`),
  KEY `idx_dang_bai_giao_vien` (`giao_vien_id`),
  KEY `idx_dang_bai_h5p_id` (`h5p_noi_dung_id`),
  CONSTRAINT `fk_db_bai_hoc` FOREIGN KEY (`bai_hoc_id`) REFERENCES `bai_hoc` (`bai_hoc_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_db_gv` FOREIGN KEY (`giao_vien_id`) REFERENCES `ho_so_giao_vien` (`giao_vien_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_db_mon` FOREIGN KEY (`mon_hoc_id`) REFERENCES `mon_hoc` (`mon_hoc_id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=1495 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Dß║íng b├ái ki├¬m nß╗Öi dung hß╗ìc (─æa h├¼nh qua cau_hinh JSON). GV c├│ thß╗â th├¬m b├ái bß╗ò sung.';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dang_bai`
--

LOCK TABLES `dang_bai` WRITE;
/*!40000 ALTER TABLE `dang_bai` DISABLE KEYS */;
/*!40000 ALTER TABLE `dang_bai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `danh_gia_bai_lam`
--

DROP TABLE IF EXISTS `danh_gia_bai_lam`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `danh_gia_bai_lam` (
  `danh_gia_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `bai_nop_id` bigint unsigned NOT NULL,
  `giao_vien_id` bigint unsigned NOT NULL,
  `diem_so` decimal(4,1) DEFAULT NULL,
  `xep_loai` enum('HOAN_THANH_TOT','HOAN_THANH','CHUA_HOAN_THANH') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nhan_xet` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `hanh_dong` enum('DUYET','YC_LAM_LAI') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DUYET',
  `thoi_diem_cham` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`danh_gia_id`),
  UNIQUE KEY `uk_bai_nop` (`bai_nop_id`),
  KEY `fk_dg_giao_vien` (`giao_vien_id`),
  CONSTRAINT `fk_dg_bai_nop` FOREIGN KEY (`bai_nop_id`) REFERENCES `bai_nop` (`bai_nop_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_dg_giao_vien` FOREIGN KEY (`giao_vien_id`) REFERENCES `ho_so_giao_vien` (`giao_vien_id`) ON DELETE RESTRICT,
  CONSTRAINT `chk_diem` CHECK (((`diem_so` is null) or (`diem_so` between 0 and 10)))
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='─Éiß╗âm sß╗æ + nhß║¡n x├⌐t GV (1-1 vß╗¢i bai_nop) ΓÇö theo TT27/2020';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `danh_gia_bai_lam`
--

LOCK TABLES `danh_gia_bai_lam` WRITE;
/*!40000 ALTER TABLE `danh_gia_bai_lam` DISABLE KEYS */;
/*!40000 ALTER TABLE `danh_gia_bai_lam` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `goi_y_ai_nhan_xet`
--

DROP TABLE IF EXISTS `goi_y_ai_nhan_xet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `goi_y_ai_nhan_xet` (
  `goi_y_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `bai_nop_id` bigint unsigned NOT NULL,
  `du_lieu_dau_vao` json NOT NULL COMMENT 'Ngß╗» cß║únh gß╗¡i v├áo AI: ─æiß╗âm, lß╗ïch sß╗¡ 4 tuß║ºn, chuß║⌐n s├ích',
  `ket_qua_goi_y` json DEFAULT NULL COMMENT 'Mß║úng 2-3 c├óu gß╗úi ├╜ AI trß║ú vß╗ü',
  `trang_thai` enum('NHAP','DA_CHON','BI_BO_QUA') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'NHAP',
  `thoi_diem_goi` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`goi_y_id`),
  KEY `fk_ai_nxet_bai_nop` (`bai_nop_id`),
  CONSTRAINT `fk_ai_nxet_bai_nop` FOREIGN KEY (`bai_nop_id`) REFERENCES `bai_nop` (`bai_nop_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Gß╗úi ├╜ nhß║¡n x├⌐t tß╗½ Anthropic API ΓÇö AI gß╗úi ├╜, GV quyß║┐t ─æß╗ïnh';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `goi_y_ai_nhan_xet`
--

LOCK TABLES `goi_y_ai_nhan_xet` WRITE;
/*!40000 ALTER TABLE `goi_y_ai_nhan_xet` DISABLE KEYS */;
/*!40000 ALTER TABLE `goi_y_ai_nhan_xet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ho_so_giao_vien`
--

DROP TABLE IF EXISTS `ho_so_giao_vien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ho_so_giao_vien` (
  `giao_vien_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nguoi_dung_id` bigint unsigned NOT NULL,
  `ma_giao_vien` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ho_ten` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `bo_mon` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ngay_sinh` date DEFAULT NULL,
  `gioi_tinh` enum('NAM','NU','KHAC') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`giao_vien_id`),
  UNIQUE KEY `uk_nguoi_dung_gv` (`nguoi_dung_id`),
  UNIQUE KEY `uk_ma_giao_vien` (`ma_giao_vien`),
  CONSTRAINT `fk_gv_nguoi_dung` FOREIGN KEY (`nguoi_dung_id`) REFERENCES `nguoi_dung` (`nguoi_dung_id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Th├┤ng tin nh├ón sß╗▒ gi├ío vi├¬n ΓÇö 1-1 vß╗¢i nguoi_dung';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ho_so_giao_vien`
--

LOCK TABLES `ho_so_giao_vien` WRITE;
/*!40000 ALTER TABLE `ho_so_giao_vien` DISABLE KEYS */;
/*!40000 ALTER TABLE `ho_so_giao_vien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ho_so_hoc_sinh`
--

DROP TABLE IF EXISTS `ho_so_hoc_sinh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ho_so_hoc_sinh` (
  `hoc_sinh_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nguoi_dung_id` bigint unsigned NOT NULL,
  `ma_hoc_sinh` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ho_ten` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ngay_sinh` date DEFAULT NULL,
  `gioi_tinh` enum('NAM','NU','KHAC') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lop_hoc_id` bigint unsigned DEFAULT NULL,
  `tong_xp` int unsigned NOT NULL DEFAULT '0' COMMENT 'Tß╗òng XP t├¡ch l┼⌐y ΓÇö cß╗Öng qua trigger khi ho├án th├ánh b├ái tß║¡p H5P',
  PRIMARY KEY (`hoc_sinh_id`),
  UNIQUE KEY `uk_nguoi_dung_hs` (`nguoi_dung_id`),
  UNIQUE KEY `uk_ma_hoc_sinh` (`ma_hoc_sinh`),
  KEY `fk_hs_lop` (`lop_hoc_id`),
  CONSTRAINT `fk_hs_lop` FOREIGN KEY (`lop_hoc_id`) REFERENCES `lop_hoc` (`lop_hoc_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_hs_nguoi_dung` FOREIGN KEY (`nguoi_dung_id`) REFERENCES `nguoi_dung` (`nguoi_dung_id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=302 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Hß╗ô s╞í hß╗ìc sinh ΓÇö ma_hoc_sinh c├│ thß╗â chß╗ënh sß╗¡a nß║┐u cß║ºn sß╗æ h├│a';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ho_so_hoc_sinh`
--

LOCK TABLES `ho_so_hoc_sinh` WRITE;
/*!40000 ALTER TABLE `ho_so_hoc_sinh` DISABLE KEYS */;
/*!40000 ALTER TABLE `ho_so_hoc_sinh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ho_so_phu_huynh`
--

DROP TABLE IF EXISTS `ho_so_phu_huynh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ho_so_phu_huynh` (
  `phu_huynh_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nguoi_dung_id` bigint unsigned NOT NULL,
  `ho_ten` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_nhan_thong_bao` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`phu_huynh_id`),
  UNIQUE KEY `uk_nguoi_dung_ph` (`nguoi_dung_id`),
  CONSTRAINT `fk_ph_nguoi_dung` FOREIGN KEY (`nguoi_dung_id`) REFERENCES `nguoi_dung` (`nguoi_dung_id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=294 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Hß╗ô s╞í phß╗Ñ huynh ΓÇö 1-1 vß╗¢i nguoi_dung';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ho_so_phu_huynh`
--

LOCK TABLES `ho_so_phu_huynh` WRITE;
/*!40000 ALTER TABLE `ho_so_phu_huynh` DISABLE KEYS */;
/*!40000 ALTER TABLE `ho_so_phu_huynh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hoc_ky`
--

DROP TABLE IF EXISTS `hoc_ky`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hoc_ky` (
  `hoc_ky_id` int unsigned NOT NULL AUTO_INCREMENT,
  `nam_hoc_id` int unsigned NOT NULL,
  `so_hoc_ky` int NOT NULL,
  PRIMARY KEY (`hoc_ky_id`),
  UNIQUE KEY `uk_nam_ky` (`nam_hoc_id`,`so_hoc_ky`),
  UNIQUE KEY `UKlk20ma997o9jpkep856e26i1g` (`nam_hoc_id`,`so_hoc_ky`),
  CONSTRAINT `fk_hk_nam` FOREIGN KEY (`nam_hoc_id`) REFERENCES `nam_hoc` (`nam_hoc_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Danh mß╗Ñc Hß╗ìc Kß╗│, phß╗Ñ thuß╗Öc N─âm Hß╗ìc';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hoc_ky`
--

LOCK TABLES `hoc_ky` WRITE;
/*!40000 ALTER TABLE `hoc_ky` DISABLE KEYS */;
INSERT INTO `hoc_ky` VALUES (1,1,1),(2,1,2);
/*!40000 ALTER TABLE `hoc_ky` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hoc_lieu`
--

DROP TABLE IF EXISTS `hoc_lieu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hoc_lieu` (
  `hoc_lieu_id` bigint NOT NULL AUTO_INCREMENT,
  `cho_lam_lai` bit(1) NOT NULL,
  `ngay_tao` datetime(6) NOT NULL,
  `file_url` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `h5p_content_id` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `so_lan_lam_toi_da` int DEFAULT NULL,
  `nguon_goc` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `tieu_de` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `loai_hoc_lieu` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `xp_thuong` int NOT NULL,
  `bai_hoc_id` int unsigned DEFAULT NULL,
  `giao_vien_id` bigint unsigned DEFAULT NULL,
  `khoi_lop` smallint DEFAULT NULL,
  `mon_hoc_id` tinyint unsigned DEFAULT NULL,
  PRIMARY KEY (`hoc_lieu_id`),
  KEY `FKb6t9vjjp10k398jhx76ymw15g` (`bai_hoc_id`),
  KEY `FKt135br9vxc7xc4colj8q482e` (`giao_vien_id`),
  KEY `fk_hoc_lieu_mon_hoc` (`mon_hoc_id`),
  CONSTRAINT `fk_hoc_lieu_mon_hoc` FOREIGN KEY (`mon_hoc_id`) REFERENCES `mon_hoc` (`mon_hoc_id`),
  CONSTRAINT `FKb6t9vjjp10k398jhx76ymw15g` FOREIGN KEY (`bai_hoc_id`) REFERENCES `bai_hoc` (`bai_hoc_id`),
  CONSTRAINT `FKt135br9vxc7xc4colj8q482e` FOREIGN KEY (`giao_vien_id`) REFERENCES `ho_so_giao_vien` (`giao_vien_id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hoc_lieu`
--

LOCK TABLES `hoc_lieu` WRITE;
/*!40000 ALTER TABLE `hoc_lieu` DISABLE KEYS */;
/*!40000 ALTER TABLE `hoc_lieu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hop_thu_thong_bao`
--

DROP TABLE IF EXISTS `hop_thu_thong_bao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hop_thu_thong_bao` (
  `hop_thu_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nguoi_dung_id` bigint unsigned NOT NULL,
  `thong_bao_id` bigint unsigned NOT NULL,
  `da_doc` tinyint(1) NOT NULL DEFAULT '0',
  `thoi_diem_doc` datetime DEFAULT NULL,
  PRIMARY KEY (`hop_thu_id`),
  UNIQUE KEY `uk_nguoidung_thongbao` (`nguoi_dung_id`,`thong_bao_id`),
  KEY `fk_ht_tb` (`thong_bao_id`),
  CONSTRAINT `fk_ht_nd` FOREIGN KEY (`nguoi_dung_id`) REFERENCES `nguoi_dung` (`nguoi_dung_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_ht_tb` FOREIGN KEY (`thong_bao_id`) REFERENCES `thong_bao` (`thong_bao_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hop_thu_thong_bao`
--

LOCK TABLES `hop_thu_thong_bao` WRITE;
/*!40000 ALTER TABLE `hop_thu_thong_bao` DISABLE KEYS */;
/*!40000 ALTER TABLE `hop_thu_thong_bao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `huy_hieu`
--

DROP TABLE IF EXISTS `huy_hieu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `huy_hieu` (
  `huy_hieu_id` int unsigned NOT NULL AUTO_INCREMENT,
  `ten_huy_hieu` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `mo_ta` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `icon_url` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `loai` enum('THU_CONG','TU_DONG') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `dieu_kien` json DEFAULT NULL COMMENT '─Éiß╗üu kiß╗çn mß╗ƒ kh├│a tß╗▒ ─æß╗Öng (NULL nß║┐u loai=THU_CONG)',
  PRIMARY KEY (`huy_hieu_id`),
  UNIQUE KEY `uk_ten_huy_hieu` (`ten_huy_hieu`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Danh mß╗Ñc huy hiß╗çu ΓÇö thß╗º c├┤ng (GV gß╗¡i) hoß║╖c tß╗▒ ─æß╗Öng (rule-based)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `huy_hieu`
--

LOCK TABLES `huy_hieu` WRITE;
/*!40000 ALTER TABLE `huy_hieu` DISABLE KEYS */;
/*!40000 ALTER TABLE `huy_hieu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invalidated_token`
--

DROP TABLE IF EXISTS `invalidated_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invalidated_token` (
  `id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiry_time` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Bß║úng l╞░u trß╗» c├íc JWT Token ─æ├ú bß╗ï v├┤ hiß╗çu h├│a (Logout)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invalidated_token`
--

LOCK TABLES `invalidated_token` WRITE;
/*!40000 ALTER TABLE `invalidated_token` DISABLE KEYS */;
/*!40000 ALTER TABLE `invalidated_token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ket_qua_cuoi_nam`
--

DROP TABLE IF EXISTS `ket_qua_cuoi_nam`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ket_qua_cuoi_nam` (
  `ket_qua_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `hoc_sinh_id` bigint unsigned NOT NULL,
  `lop_hoc_id` bigint unsigned NOT NULL,
  `nam_hoc` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ket_qua_hoc_tap` enum('HOAN_THANH_TOT','HOAN_THANH','CHUA_HOAN_THANH') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ket_qua_ren_luyen` enum('TOT','DAT','CAN_CO_GANG') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `quyet_dinh` enum('LEN_LOP','O_LAI','CHUYEN_CUP') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `duoc_xet_dac_cach` tinyint(1) NOT NULL DEFAULT '0',
  `ly_do_dac_cach` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `giao_vien_xet_id` bigint unsigned NOT NULL,
  `ngay_xet` date NOT NULL,
  `ghi_chu` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`ket_qua_id`),
  UNIQUE KEY `uk_hs_lop_nam` (`hoc_sinh_id`,`lop_hoc_id`,`nam_hoc`),
  UNIQUE KEY `UKki44jm1aafq3gv4ybrq8quh7h` (`hoc_sinh_id`,`lop_hoc_id`,`nam_hoc`),
  KEY `fk_kqcn_lop` (`lop_hoc_id`),
  KEY `fk_kqcn_gv` (`giao_vien_xet_id`),
  CONSTRAINT `fk_kqcn_gv` FOREIGN KEY (`giao_vien_xet_id`) REFERENCES `ho_so_giao_vien` (`giao_vien_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_kqcn_hs` FOREIGN KEY (`hoc_sinh_id`) REFERENCES `ho_so_hoc_sinh` (`hoc_sinh_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_kqcn_lop` FOREIGN KEY (`lop_hoc_id`) REFERENCES `lop_hoc` (`lop_hoc_id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='X├⌐t kß║┐t quß║ú cuß╗æi n─âm theo TT27/2020 ΓÇö c╞í sß╗ƒ ph├íp l├╜ l├¬n lß╗¢p/ß╗ƒ lß║íi';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ket_qua_cuoi_nam`
--

LOCK TABLES `ket_qua_cuoi_nam` WRITE;
/*!40000 ALTER TABLE `ket_qua_cuoi_nam` DISABLE KEYS */;
INSERT INTO `ket_qua_cuoi_nam` VALUES (1,1,1,'2025-2026','HOAN_THANH_TOT','TOT','LEN_LOP',0,NULL,1,'2026-07-19','Cß║¡p nhß║¡t lß║ºn 2 - xuß║Ñt sß║»c h╞ín dß╗▒ kiß║┐n');
/*!40000 ALTER TABLE `ket_qua_cuoi_nam` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `khen_thuong_hoc_sinh`
--

DROP TABLE IF EXISTS `khen_thuong_hoc_sinh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `khen_thuong_hoc_sinh` (
  `khen_thuong_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `hoc_sinh_id` bigint unsigned NOT NULL,
  `huy_hieu_id` int unsigned NOT NULL,
  `giao_vien_id` bigint unsigned DEFAULT NULL COMMENT 'NULL nß║┐u hß╗ç thß╗æng tß╗▒ ─æß╗Öng cß║Ñp',
  `thu_khen` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `nguon_cap` enum('THU_CONG','HE_THONG') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'THU_CONG',
  `thoi_diem_trao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `da_gui_email` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`khen_thuong_id`),
  KEY `fk_kt_huy_hieu` (`huy_hieu_id`),
  KEY `fk_kt_giao_vien` (`giao_vien_id`),
  KEY `idx_khen_thuong_hs` (`hoc_sinh_id`,`thoi_diem_trao`),
  CONSTRAINT `fk_kt_giao_vien` FOREIGN KEY (`giao_vien_id`) REFERENCES `ho_so_giao_vien` (`giao_vien_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_kt_hoc_sinh` FOREIGN KEY (`hoc_sinh_id`) REFERENCES `ho_so_hoc_sinh` (`hoc_sinh_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_kt_huy_hieu` FOREIGN KEY (`huy_hieu_id`) REFERENCES `huy_hieu` (`huy_hieu_id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Lß╗ïch sß╗¡ cß║Ñp huy hiß╗çu cho hß╗ìc sinh';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `khen_thuong_hoc_sinh`
--

LOCK TABLES `khen_thuong_hoc_sinh` WRITE;
/*!40000 ALTER TABLE `khen_thuong_hoc_sinh` DISABLE KEYS */;
/*!40000 ALTER TABLE `khen_thuong_hoc_sinh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lich_su_chuyen_lop`
--

DROP TABLE IF EXISTS `lich_su_chuyen_lop`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lich_su_chuyen_lop` (
  `chuyen_lop_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `hoc_sinh_id` bigint unsigned NOT NULL,
  `lop_cu_id` bigint unsigned DEFAULT NULL COMMENT 'NULL nß║┐u l├á lß║ºn g├ín lß╗¢p ─æß║ºu ti├¬n',
  `lop_moi_id` bigint unsigned NOT NULL,
  `nam_hoc_cu` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nam_hoc_moi` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ly_do` enum('LEN_LOP','O_LAI','CHUYEN_TRUONG','DOI_LOP','NHAP_HOC_MOI') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ghi_chu` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `nguoi_thuc_hien_id` bigint unsigned NOT NULL,
  `thoi_diem_chuyen` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`chuyen_lop_id`),
  KEY `fk_cls_lop_cu` (`lop_cu_id`),
  KEY `fk_cls_lop_moi` (`lop_moi_id`),
  KEY `fk_cls_nguoi_th` (`nguoi_thuc_hien_id`),
  KEY `idx_chuyen_lop_hs` (`hoc_sinh_id`,`thoi_diem_chuyen`),
  CONSTRAINT `fk_cls_hs` FOREIGN KEY (`hoc_sinh_id`) REFERENCES `ho_so_hoc_sinh` (`hoc_sinh_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_cls_lop_cu` FOREIGN KEY (`lop_cu_id`) REFERENCES `lop_hoc` (`lop_hoc_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_cls_lop_moi` FOREIGN KEY (`lop_moi_id`) REFERENCES `lop_hoc` (`lop_hoc_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_cls_nguoi_th` FOREIGN KEY (`nguoi_thuc_hien_id`) REFERENCES `nguoi_dung` (`nguoi_dung_id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Lß╗ïch sß╗¡ chuyß╗ân lß╗¢p: l├¬n lß╗¢p, ß╗ƒ lß║íi, chuyß╗ân tr╞░ß╗¥ng, ─æß╗òi lß╗¢p giß╗»a n─âm';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lich_su_chuyen_lop`
--

LOCK TABLES `lich_su_chuyen_lop` WRITE;
/*!40000 ALTER TABLE `lich_su_chuyen_lop` DISABLE KEYS */;
INSERT INTO `lich_su_chuyen_lop` VALUES (1,3,1,2,'2024-2025','2025-2026','LEN_LOP','Hß╗ìc sinh ho├án th├ánh ch╞░╞íng tr├¼nh khß╗æi 1, l├¬n khß╗æi 2.',1,'2025-08-15 08:00:00'),(2,6,NULL,6,NULL,'2025-2026','NHAP_HOC_MOI','Hß╗ìc sinh mß╗¢i nhß║¡p hß╗ìc ─æß║ºu n─âm.',1,'2025-09-01 08:00:00'),(3,1,1,2,'2025-2026','2025-2026','DOI_LOP','Test chuyen lop',11,'2026-07-19 05:07:30'),(4,1,2,1,'2025-2026','2025-2026','DOI_LOP','Revert test',11,'2026-07-19 05:07:37');
/*!40000 ALTER TABLE `lich_su_chuyen_lop` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lich_su_tu_hoc`
--

DROP TABLE IF EXISTS `lich_su_tu_hoc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lich_su_tu_hoc` (
  `tu_hoc_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `hoc_sinh_id` bigint unsigned NOT NULL,
  `dang_bai_id` int unsigned NOT NULL,
  `diem_so` decimal(5,2) DEFAULT NULL,
  `chi_tiet_bai_lam` json DEFAULT NULL,
  `thoi_gian_nop` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`tu_hoc_id`),
  KEY `fk_lsth_hs` (`hoc_sinh_id`),
  KEY `fk_lsth_db` (`dang_bai_id`),
  CONSTRAINT `fk_lsth_db` FOREIGN KEY (`dang_bai_id`) REFERENCES `dang_bai` (`dang_bai_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_lsth_hs` FOREIGN KEY (`hoc_sinh_id`) REFERENCES `ho_so_hoc_sinh` (`hoc_sinh_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lich_su_tu_hoc`
--

LOCK TABLES `lich_su_tu_hoc` WRITE;
/*!40000 ALTER TABLE `lich_su_tu_hoc` DISABLE KEYS */;
/*!40000 ALTER TABLE `lich_su_tu_hoc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lo_import`
--

DROP TABLE IF EXISTS `lo_import`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lo_import` (
  `lo_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nguoi_thuc_hien_id` bigint unsigned NOT NULL,
  `loai_import` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ten_file` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `trang_thai` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `so_thanh_cong` int unsigned DEFAULT NULL,
  `chi_tiet_loi` json DEFAULT NULL,
  `tom_tat_ket_qua` json DEFAULT NULL,
  `thoi_diem_import` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`lo_id`),
  KEY `fk_import_admin` (`nguoi_thuc_hien_id`),
  CONSTRAINT `fk_import_admin` FOREIGN KEY (`nguoi_thuc_hien_id`) REFERENCES `nguoi_dung` (`nguoi_dung_id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Lß╗ïch sß╗¡ import Excel ΓÇö nguy├¬n tß║»c All-or-Nothing';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lo_import`
--

LOCK TABLES `lo_import` WRITE;
/*!40000 ALTER TABLE `lo_import` DISABLE KEYS */;
/*!40000 ALTER TABLE `lo_import` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lop_hoc`
--

DROP TABLE IF EXISTS `lop_hoc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lop_hoc` (
  `lop_hoc_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ten_lop` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `khoi_lop` tinyint unsigned NOT NULL,
  `nam_hoc_id` int unsigned NOT NULL,
  `giao_vien_chu_nhiem_id` bigint unsigned DEFAULT NULL,
  `si_so_toi_da` tinyint unsigned NOT NULL DEFAULT '40',
  `trang_thai` enum('ACTIVE','DONG_BANG') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE',
  PRIMARY KEY (`lop_hoc_id`),
  UNIQUE KEY `uk_ten_khoi_nam` (`ten_lop`,`khoi_lop`,`nam_hoc_id`),
  KEY `fk_lop_nam` (`nam_hoc_id`),
  KEY `fk_lop_gvcn` (`giao_vien_chu_nhiem_id`),
  CONSTRAINT `fk_lop_gvcn` FOREIGN KEY (`giao_vien_chu_nhiem_id`) REFERENCES `ho_so_giao_vien` (`giao_vien_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_lop_nam` FOREIGN KEY (`nam_hoc_id`) REFERENCES `nam_hoc` (`nam_hoc_id`) ON DELETE RESTRICT,
  CONSTRAINT `chk_khoi_lop` CHECK ((`khoi_lop` between 1 and 5))
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='─É╞ín vß╗ï tß╗ò chß╗⌐c hß╗ìc sinh theo khß╗æi v├á n─âm hß╗ìc';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lop_hoc`
--

LOCK TABLES `lop_hoc` WRITE;
/*!40000 ALTER TABLE `lop_hoc` DISABLE KEYS */;
INSERT INTO `lop_hoc` VALUES (1,'1A',1,1,1,35,'ACTIVE'),(2,'2A',2,1,2,35,'ACTIVE'),(3,'3A',3,1,4,35,'ACTIVE'),(4,'4A',4,1,5,35,'ACTIVE'),(5,'5A',5,1,6,35,'ACTIVE'),(6,'1B',1,1,NULL,35,'ACTIVE'),(7,'2B',2,1,3,35,'ACTIVE'),(8,'3B',3,1,8,35,'ACTIVE'),(9,'4B',4,1,7,35,'ACTIVE'),(10,'5B',5,1,9,35,'ACTIVE');
/*!40000 ALTER TABLE `lop_hoc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mon_hoc`
--

DROP TABLE IF EXISTS `mon_hoc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mon_hoc` (
  `mon_hoc_id` tinyint unsigned NOT NULL AUTO_INCREMENT,
  `ten_mon` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ma_mon` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mo_ta` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `trang_thai` enum('ACTIVE','AN') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE',
  PRIMARY KEY (`mon_hoc_id`),
  UNIQUE KEY `uk_ten_mon` (`ten_mon`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Danh mß╗Ñc m├┤n hß╗ìc ─æß╗Öc lß║¡p khß╗æi lß╗¢p (To├ín, Tiß║┐ng Viß╗çt...)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mon_hoc`
--

LOCK TABLES `mon_hoc` WRITE;
/*!40000 ALTER TABLE `mon_hoc` DISABLE KEYS */;
INSERT INTO `mon_hoc` VALUES (1,'To├ín','TOAN',NULL,'ACTIVE'),(2,'Tiß║┐ng Viß╗çt','TV',NULL,'ACTIVE'),(3,'Tiß║┐ng Anh','TA',NULL,'ACTIVE'),(4,'Khoa hß╗ìc','KH',NULL,'ACTIVE'),(5,'Lß╗ïch sß╗¡ v├á ─Éß╗ïa l├╜','LSDL',NULL,'ACTIVE'),(6,'─Éß║ío ─æß╗⌐c','DD',NULL,'ACTIVE'),(7,'Tß╗▒ nhi├¬n v├á X├ú hß╗Öi','TNXH',NULL,'ACTIVE'),(8,'├ém nhß║íc','AN',NULL,'ACTIVE'),(9,'Mß╗╣ thuß║¡t','MT',NULL,'ACTIVE'),(10,'Thß╗â dß╗Ñc','TD',NULL,'ACTIVE'),(11,'Tin hß╗ìc','TH',NULL,'ACTIVE'),(12,'Hoß║ít ─æß╗Öng trß║úi nghiß╗çm','HDTN',NULL,'ACTIVE');
/*!40000 ALTER TABLE `mon_hoc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nam_hoc`
--

DROP TABLE IF EXISTS `nam_hoc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nam_hoc` (
  `nam_hoc_id` int unsigned NOT NULL AUTO_INCREMENT,
  `ten_nam_hoc` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '"2024-2025", "2025-2026"',
  `ngay_bat_dau` date DEFAULT NULL,
  `ngay_ket_thuc` date DEFAULT NULL,
  PRIMARY KEY (`nam_hoc_id`),
  UNIQUE KEY `uk_ten_nam` (`ten_nam_hoc`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Danh mß╗Ñc N─âm Hß╗ìc';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nam_hoc`
--

LOCK TABLES `nam_hoc` WRITE;
/*!40000 ALTER TABLE `nam_hoc` DISABLE KEYS */;
INSERT INTO `nam_hoc` VALUES (1,'2025-2026','2025-09-05','2026-05-31');
/*!40000 ALTER TABLE `nam_hoc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nguoi_dung`
--

DROP TABLE IF EXISTS `nguoi_dung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nguoi_dung` (
  `nguoi_dung_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ten_dang_nhap` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `mat_khau_hash` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `vai_tro` enum('ADMIN','GIAO_VIEN','HOC_SINH','PHU_HUYNH') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `trang_thai` enum('ACTIVE','LOCKED','DISABLED') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE',
  `email` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `so_dien_thoai` varchar(15) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bat_buoc_doi_mk` tinyint(1) NOT NULL DEFAULT '0',
  `lan_dang_nhap_cuoi` datetime DEFAULT NULL,
  `ngay_tao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `ngay_cap_nhat` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`nguoi_dung_id`),
  UNIQUE KEY `uk_ten_dang_nhap` (`ten_dang_nhap`),
  UNIQUE KEY `uk_email` (`email`),
  UNIQUE KEY `uk_so_dien_thoai` (`so_dien_thoai`)
) ENGINE=InnoDB AUTO_INCREMENT=612 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='T├ái khoß║ún x├íc thß╗▒c d├╣ng chung cho to├án bß╗Ö 4 vai tr├▓';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nguoi_dung`
--

LOCK TABLES `nguoi_dung` WRITE;
/*!40000 ALTER TABLE `nguoi_dung` DISABLE KEYS */;
/*!40000 ALTER TABLE `nguoi_dung` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phan_cong_giang_day`
--

DROP TABLE IF EXISTS `phan_cong_giang_day`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phan_cong_giang_day` (
  `phan_cong_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `giao_vien_id` bigint unsigned NOT NULL,
  `lop_hoc_id` bigint unsigned NOT NULL,
  `mon_hoc_id` tinyint unsigned NOT NULL COMMENT 'FK ΓåÆ mon_hoc',
  `hoc_ky_id` int unsigned NOT NULL COMMENT 'Hß╗ìc kß╗│ ph├ón c├┤ng (thay cho nam_hoc + hoc_ky)',
  `ngay_phan_cong` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`phan_cong_id`),
  UNIQUE KEY `uk_gv_lop_mon` (`giao_vien_id`,`lop_hoc_id`,`mon_hoc_id`,`hoc_ky_id`),
  UNIQUE KEY `UKehc0mije726v1r7df5q0fdcrm` (`giao_vien_id`,`lop_hoc_id`,`mon_hoc_id`,`hoc_ky_id`),
  KEY `fk_pcgd_lop` (`lop_hoc_id`),
  KEY `fk_pcgd_mon` (`mon_hoc_id`),
  KEY `fk_pcgd_hk` (`hoc_ky_id`),
  CONSTRAINT `fk_pcgd_gv` FOREIGN KEY (`giao_vien_id`) REFERENCES `ho_so_giao_vien` (`giao_vien_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_pcgd_hk` FOREIGN KEY (`hoc_ky_id`) REFERENCES `hoc_ky` (`hoc_ky_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_pcgd_lop` FOREIGN KEY (`lop_hoc_id`) REFERENCES `lop_hoc` (`lop_hoc_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_pcgd_mon` FOREIGN KEY (`mon_hoc_id`) REFERENCES `mon_hoc` (`mon_hoc_id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Bß║úng cß║Ñp quyß╗ün: GV n├áo dß║íy lß╗¢p n├áo, m├┤n g├¼ trong hß╗ìc kß╗│, n─âm hß╗ìc n├áo';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phan_cong_giang_day`
--

LOCK TABLES `phan_cong_giang_day` WRITE;
/*!40000 ALTER TABLE `phan_cong_giang_day` DISABLE KEYS */;
INSERT INTO `phan_cong_giang_day` VALUES (1,1,1,1,1,'2026-07-07 20:07:42'),(2,1,1,2,1,'2026-07-07 20:07:42'),(3,2,2,1,1,'2026-07-07 20:07:42'),(4,4,3,1,2,'2026-07-09 10:12:24'),(5,4,3,2,2,'2026-07-09 10:12:24'),(6,5,4,2,2,'2026-07-09 10:12:24'),(7,5,4,1,2,'2026-07-09 10:12:24'),(8,6,5,1,2,'2026-07-09 10:12:24'),(9,6,5,2,2,'2026-07-09 10:12:24');
/*!40000 ALTER TABLE `phan_cong_giang_day` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phan_phoi_dang_bai`
--

DROP TABLE IF EXISTS `phan_phoi_dang_bai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phan_phoi_dang_bai` (
  `phan_phoi_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `dang_bai_id` int unsigned NOT NULL,
  `lop_hoc_id` bigint unsigned NOT NULL,
  `giao_vien_id` bigint unsigned NOT NULL,
  `ngay_chia_se` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`phan_phoi_id`),
  UNIQUE KEY `uk_db_lop` (`dang_bai_id`,`lop_hoc_id`),
  KEY `fk_pp_giao_vien` (`giao_vien_id`),
  KEY `idx_phan_phoi_lop` (`lop_hoc_id`),
  CONSTRAINT `fk_pp_dang_bai` FOREIGN KEY (`dang_bai_id`) REFERENCES `dang_bai` (`dang_bai_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_pp_giao_vien` FOREIGN KEY (`giao_vien_id`) REFERENCES `ho_so_giao_vien` (`giao_vien_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_pp_lop` FOREIGN KEY (`lop_hoc_id`) REFERENCES `lop_hoc` (`lop_hoc_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='GV chia sß║╗ b├ái bß╗ò sung cho lß╗¢p ΓÇö c╞í chß║┐ cß║Ñp quyß╗ün xem cho HS';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phan_phoi_dang_bai`
--

LOCK TABLES `phan_phoi_dang_bai` WRITE;
/*!40000 ALTER TABLE `phan_phoi_dang_bai` DISABLE KEYS */;
/*!40000 ALTER TABLE `phan_phoi_dang_bai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phien_dang_nhap`
--

DROP TABLE IF EXISTS `phien_dang_nhap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phien_dang_nhap` (
  `phien_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nguoi_dung_id` bigint unsigned NOT NULL,
  `refresh_token` varchar(512) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'SHA-256 hash cß╗ºa refresh token gß╗æc',
  `ten_thiet_bi` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'User-Agent r├║t gß╗ìn: Chrome/Windows, iPhone App',
  `dia_chi_ip` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'IP ─æ─âng nhß║¡p lß║ºn ─æß║ºu, hß╗ù trß╗ú IPv4 v├á IPv6',
  `het_han` datetime NOT NULL COMMENT 'Thß╗¥i ─æiß╗âm token hß║┐t hß║ín (th╞░ß╗¥ng 30 ng├áy)',
  `thoi_diem_tao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `thoi_diem_su_dung_cuoi` datetime DEFAULT NULL COMMENT 'Cß║¡p nhß║¡t mß╗ùi lß║ºn refresh ΓÇö ph├ít hiß╗çn token c┼⌐ bß╗ï t├íi sß╗¡ dß╗Ñng',
  `da_thu_hoi` tinyint(1) NOT NULL DEFAULT '0' COMMENT '1 = bß╗ï revoke (─æ─âng xuß║Ñt hoß║╖c ph├ít hiß╗çn bß║Ñt th╞░ß╗¥ng)',
  PRIMARY KEY (`phien_id`),
  UNIQUE KEY `uk_refresh_token` (`refresh_token`(64)),
  KEY `idx_phien_nguoi_dung` (`nguoi_dung_id`,`da_thu_hoi`,`het_han`),
  CONSTRAINT `fk_phien_nd` FOREIGN KEY (`nguoi_dung_id`) REFERENCES `nguoi_dung` (`nguoi_dung_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=191 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='JWT Refresh Token - 1 user nhiß╗üu phi├¬n, c├│ thß╗â revoke tß╗½ng phi├¬n hoß║╖c to├án bß╗Ö';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phien_dang_nhap`
--

LOCK TABLES `phien_dang_nhap` WRITE;
/*!40000 ALTER TABLE `phien_dang_nhap` DISABLE KEYS */;
/*!40000 ALTER TABLE `phien_dang_nhap` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phien_xac_thuc`
--

DROP TABLE IF EXISTS `phien_xac_thuc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phien_xac_thuc` (
  `phien_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nguoi_dung_id` bigint unsigned NOT NULL,
  `loai_xac_thuc` enum('DOI_MAT_KHAU','QUEN_MAT_KHAU') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ma_otp` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `het_han` datetime NOT NULL,
  `da_su_dung` tinyint(1) NOT NULL DEFAULT '0',
  `thoi_diem_tao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`phien_id`),
  KEY `fk_otp_nd` (`nguoi_dung_id`),
  CONSTRAINT `fk_otp_nd` FOREIGN KEY (`nguoi_dung_id`) REFERENCES `nguoi_dung` (`nguoi_dung_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='M├ú OTP ─æß╗òi/qu├¬n mß║¡t khß║⌐u ΓÇö hiß╗çu lß╗▒c 1 ph├║t, d├╣ng 1 lß║ºn';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phien_xac_thuc`
--

LOCK TABLES `phien_xac_thuc` WRITE;
/*!40000 ALTER TABLE `phien_xac_thuc` DISABLE KEYS */;
/*!40000 ALTER TABLE `phien_xac_thuc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phieu_ho_tro`
--

DROP TABLE IF EXISTS `phieu_ho_tro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phieu_ho_tro` (
  `phieu_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `giao_vien_tao_id` bigint unsigned NOT NULL,
  `hoc_sinh_lien_quan_id` bigint unsigned NOT NULL,
  `loai_yeu_cau` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'RESET_MAT_KHAU',
  `mo_ta` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `admin_xu_ly_id` bigint unsigned DEFAULT NULL,
  `trang_thai` enum('CHO_DUYET','DA_DUYET','TU_CHOI') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'CHO_DUYET',
  `ghi_chu_xu_ly` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `ngay_tao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `ngay_xu_ly` datetime DEFAULT NULL,
  PRIMARY KEY (`phieu_id`),
  KEY `fk_phieu_admin` (`admin_xu_ly_id`),
  KEY `FKhtynf0fm6jxolmdku6qxb5f7h` (`hoc_sinh_lien_quan_id`),
  KEY `FKeiotqk6qpu26oyq1vp0ya491q` (`giao_vien_tao_id`),
  CONSTRAINT `fk_phieu_admin` FOREIGN KEY (`admin_xu_ly_id`) REFERENCES `nguoi_dung` (`nguoi_dung_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_phieu_gv` FOREIGN KEY (`giao_vien_tao_id`) REFERENCES `ho_so_giao_vien` (`giao_vien_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_phieu_hs` FOREIGN KEY (`hoc_sinh_lien_quan_id`) REFERENCES `ho_so_hoc_sinh` (`hoc_sinh_id`) ON DELETE RESTRICT,
  CONSTRAINT `FKeiotqk6qpu26oyq1vp0ya491q` FOREIGN KEY (`giao_vien_tao_id`) REFERENCES `nguoi_dung` (`nguoi_dung_id`),
  CONSTRAINT `FKhtynf0fm6jxolmdku6qxb5f7h` FOREIGN KEY (`hoc_sinh_lien_quan_id`) REFERENCES `nguoi_dung` (`nguoi_dung_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Phiß║┐u reset MK: GV tß║ío ΓåÆ Admin duyß╗çt ΓåÆ trigger bß║¡t bat_buoc_doi_mk';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phieu_ho_tro`
--

LOCK TABLES `phieu_ho_tro` WRITE;
/*!40000 ALTER TABLE `phieu_ho_tro` DISABLE KEYS */;
/*!40000 ALTER TABLE `phieu_ho_tro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phu_huynh_hoc_sinh`
--

DROP TABLE IF EXISTS `phu_huynh_hoc_sinh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phu_huynh_hoc_sinh` (
  `lien_ket_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `phu_huynh_id` bigint unsigned NOT NULL,
  `hoc_sinh_id` bigint unsigned NOT NULL,
  `quan_he` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Cha / Mß║╣ / Ng╞░ß╗¥i gi├ím hß╗Ö',
  `ngay_lien_ket` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`lien_ket_id`),
  UNIQUE KEY `uk_phu_huynh_hoc_sinh` (`phu_huynh_id`,`hoc_sinh_id`),
  UNIQUE KEY `UKcecuoao6a1e9vgos4vc0dnrib` (`phu_huynh_id`,`hoc_sinh_id`),
  KEY `fk_ph_hs_hoc_sinh` (`hoc_sinh_id`),
  CONSTRAINT `fk_ph_hs_hoc_sinh` FOREIGN KEY (`hoc_sinh_id`) REFERENCES `ho_so_hoc_sinh` (`hoc_sinh_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_ph_hs_phu_huynh` FOREIGN KEY (`phu_huynh_id`) REFERENCES `ho_so_phu_huynh` (`phu_huynh_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='N-N: 1 phß╗Ñ huynh nhiß╗üu con, 1 HS c├│ thß╗â nhiß╗üu ng╞░ß╗¥i gi├ím hß╗Ö';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phu_huynh_hoc_sinh`
--

LOCK TABLES `phu_huynh_hoc_sinh` WRITE;
/*!40000 ALTER TABLE `phu_huynh_hoc_sinh` DISABLE KEYS */;
/*!40000 ALTER TABLE `phu_huynh_hoc_sinh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sach`
--

DROP TABLE IF EXISTS `sach`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sach` (
  `sach_id` int unsigned NOT NULL AUTO_INCREMENT,
  `book_id_ngoai` int unsigned DEFAULT NULL COMMENT 'bookId tß╗½ API NXB ΓÇö d├╣ng ─æß╗â import/sync, kh├┤ng FK',
  `loai_sach` enum('SACH_GIAO_KHOA','SACH_BAI_TAP') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'SACH_GIAO_KHOA' COMMENT 'GIAO_KHOA = HS tß╗▒ hß╗ìc; BAI_TAP = Kho ─æß╗ü cho GV chß╗ìn giao b├ái',
  `bo_sach` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'bookTypeName: "Kß║┐t nß╗æi tri thß╗⌐c vß╗¢i cuß╗Öc sß╗æng"',
  `khoi_lop` int NOT NULL,
  `mon_hoc_id` tinyint unsigned NOT NULL COMMENT 'FK ΓåÆ mon_hoc',
  `hoc_ky` int DEFAULT NULL,
  `ten_sach` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'name: "To├ín 1 - Tß║¡p mß╗Öt"',
  `slug` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'slug tß╗½ API: "toan-1-tap-mot"',
  `mo_ta` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci COMMENT 'description tß╗½ API',
  `anh_bia_url` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'imageUrl: ─æ╞░ß╗¥ng dß║½n ß║únh b├¼a',
  `tong_so_trang` int DEFAULT NULL,
  `nam_xuat_ban` int DEFAULT NULL,
  `ban_quyen` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'copyRight: "Nh├á xuß║Ñt bß║ún..."',
  `ban_bien_soan` json DEFAULT NULL COMMENT 'bookEditors[]: [{name, title, orderNo}] ΓÇö b├ín cß║Ñu tr├║c',
  `trang_thai` enum('ACTIVE','AN') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE',
  `ngay_tao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `ngay_cap_nhat` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`sach_id`),
  UNIQUE KEY `uk_book_id_ngoai` (`book_id_ngoai`),
  KEY `fk_sach_mon` (`mon_hoc_id`),
  KEY `idx_sach_bo_sach` (`bo_sach`,`khoi_lop`,`mon_hoc_id`),
  CONSTRAINT `fk_sach_mon` FOREIGN KEY (`mon_hoc_id`) REFERENCES `mon_hoc` (`mon_hoc_id`) ON DELETE RESTRICT,
  CONSTRAINT `chk_sach_hoc_ky` CHECK (((`hoc_ky` is null) or (`hoc_ky` between 1 and 3))),
  CONSTRAINT `chk_sach_khoi_lop` CHECK ((`khoi_lop` between 1 and 12))
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Metadata s├ích gi├ío khoa ΓÇö ├ính xß║í vß╗¢i bookId API, ban_bien_soan l╞░u JSON b├ín cß║Ñu tr├║c';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sach`
--

LOCK TABLES `sach` WRITE;
/*!40000 ALTER TABLE `sach` DISABLE KEYS */;
/*!40000 ALTER TABLE `sach` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thong_bao`
--

DROP TABLE IF EXISTS `thong_bao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `thong_bao` (
  `thong_bao_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nguoi_gui_id` bigint unsigned NOT NULL,
  `lop_hoc_id` bigint unsigned DEFAULT NULL COMMENT 'NULL nß║┐u l├á th├┤ng b├ío hß╗ç thß╗æng to├án tr╞░ß╗¥ng',
  `tieu_de` varchar(300) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `noi_dung` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `file_dinh_kem` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `loai_thong_bao` enum('NOI_BO','KHEN_THUONG','NHAC_NHO','HE_THONG') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'NOI_BO',
  `la_ghim` tinyint(1) NOT NULL DEFAULT '0',
  `ngay_dang` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `doi_tuong_nhan` enum('TAT_CA','PHU_HUYNH','HOC_SINH') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`thong_bao_id`),
  KEY `fk_tb_nguoi_gui` (`nguoi_gui_id`),
  KEY `idx_thong_bao_lop` (`lop_hoc_id`,`la_ghim`,`ngay_dang`),
  CONSTRAINT `fk_tb_lop` FOREIGN KEY (`lop_hoc_id`) REFERENCES `lop_hoc` (`lop_hoc_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_tb_nguoi_gui` FOREIGN KEY (`nguoi_gui_id`) REFERENCES `nguoi_dung` (`nguoi_dung_id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Th├┤ng b├ío nß╗Öi bß╗Ö lß╗¢p v├á th├┤ng b├ío hß╗ç thß╗æng';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thong_bao`
--

LOCK TABLES `thong_bao` WRITE;
/*!40000 ALTER TABLE `thong_bao` DISABLE KEYS */;
/*!40000 ALTER TABLE `thong_bao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tien_do_hoc_sinh`
--

DROP TABLE IF EXISTS `tien_do_hoc_sinh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tien_do_hoc_sinh` (
  `tien_do_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `hoc_sinh_id` bigint unsigned NOT NULL,
  `hoc_ky_id` int unsigned NOT NULL COMMENT 'Hß╗ìc kß╗│ (snapshot khi bß║»t ─æß║ºu hß╗ìc)',
  `phan_tram_hoan_thanh` smallint NOT NULL,
  `thoi_gian_hoc` int unsigned NOT NULL DEFAULT '0' COMMENT 'Tß╗òng gi├óy ─æ├ú hß╗ìc trong kß╗│ n├áy',
  `lan_xem_cuoi` datetime DEFAULT NULL,
  `da_hoan_thanh` tinyint(1) NOT NULL DEFAULT '0',
  `bai_hoc_id` int unsigned NOT NULL,
  PRIMARY KEY (`tien_do_id`),
  UNIQUE KEY `uk_hs_baihoc_ky` (`hoc_sinh_id`,`bai_hoc_id`,`hoc_ky_id`),
  KEY `fk_td_hk` (`hoc_ky_id`),
  KEY `idx_tien_do_hs` (`hoc_sinh_id`,`hoc_ky_id`,`da_hoan_thanh`),
  KEY `fk_td_bh` (`bai_hoc_id`),
  CONSTRAINT `fk_td_bh` FOREIGN KEY (`bai_hoc_id`) REFERENCES `bai_hoc` (`bai_hoc_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_td_hk` FOREIGN KEY (`hoc_ky_id`) REFERENCES `hoc_ky` (`hoc_ky_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_td_hs` FOREIGN KEY (`hoc_sinh_id`) REFERENCES `ho_so_hoc_sinh` (`hoc_sinh_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_phan_tram` CHECK ((`phan_tram_hoan_thanh` between 0 and 100))
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Tiß║┐n ─æß╗Ö dß║íng b├ái theo n─âm hß╗ìc + hß╗ìc kß╗│ ΓÇö tr├ính ghi ─æ├¿ khi hß╗ìc lß║íi; ─æß║ºu v├áo AI';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tien_do_hoc_sinh`
--

LOCK TABLES `tien_do_hoc_sinh` WRITE;
/*!40000 ALTER TABLE `tien_do_hoc_sinh` DISABLE KEYS */;
/*!40000 ALTER TABLE `tien_do_hoc_sinh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trang_thai_doc_thong_bao`
--

DROP TABLE IF EXISTS `trang_thai_doc_thong_bao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trang_thai_doc_thong_bao` (
  `trang_thai_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nguoi_dung_id` bigint unsigned NOT NULL,
  `thong_bao_id` bigint unsigned NOT NULL,
  `da_doc` tinyint(1) NOT NULL DEFAULT '0',
  `thoi_diem_doc` datetime DEFAULT NULL,
  PRIMARY KEY (`trang_thai_id`),
  UNIQUE KEY `uk_trang_thai_doc_thong_bao` (`nguoi_dung_id`,`thong_bao_id`),
  KEY `fk_ttd_tb` (`thong_bao_id`),
  CONSTRAINT `fk_ttd_nd` FOREIGN KEY (`nguoi_dung_id`) REFERENCES `nguoi_dung` (`nguoi_dung_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_ttd_tb` FOREIGN KEY (`thong_bao_id`) REFERENCES `thong_bao` (`thong_bao_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Trß║íng th├íi ─æß╗ìc ─æß╗Öc lß║¡p cho tß╗½ng ng╞░ß╗¥i ΓÇö HS xem kh├┤ng ß║únh h╞░ß╗ƒng PH';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trang_thai_doc_thong_bao`
--

LOCK TABLES `trang_thai_doc_thong_bao` WRITE;
/*!40000 ALTER TABLE `trang_thai_doc_thong_bao` DISABLE KEYS */;
/*!40000 ALTER TABLE `trang_thai_doc_thong_bao` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-22  0:22:29
